* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Neutrif Pro";
}

html{
  overflow-x: hidden; 
}

:root {
  --bgColorVar: #f2f0e4;
  --blueTextVar: rgb(47 128 237);
  --brownTextVar: rgb(161, 128, 88);
  --homebtnBg: #28ae61;
}

@font-face {
  font-family: 'Neutrif Pro';
  src: local('Neutrif Pro'), url(./fonts/NeutrifPro-Light.ttf) format('truetype');
}

a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}

.random{
  background: rgb(145, 145, 145);
}