* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Neutrif Pro";
}

:root {
  --bgColorVar: #f1efe3;
  --blueTextVar: rgb(47 128 237);
  --brownTextVar: rgb(161, 128, 88);
}

a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}
